.inner-headings {
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  font-size: 70px;
  font-family: ClarendonBTWXX-Light;
  font-weight: 300;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 10px;
}

.inner-headings span {
  position: relative;
  font-size: inherit;
  color: #000000;
  animation: animation-large 15s ease infinite; /* Increased duration to 20s */
}

/* Animation for large screens */
@keyframes animation-large {
  0%, 9% {
    top: 0;
  }
  18% {
    top: -50px;
  }
  27% {
    top: -100px;
  }
  36% {
    top: -150px;
  }
  45% {
    top: -200px;
  }
  54% {
    top: -250px;
  }
  63% {
    top: -300px;
  }
  72% {
    top: -350px;
  }
  81% {
    top: -400px;
  }
  90% {
    top: -450px;
  }
  100% {
    top: -500px;
  }
}

/* Media query for medium screens */
@media (max-width: 1024px) {
  .inner-headings {
    font-size: 50px;
    height: 40px;
    line-height: 40px;
  }
  .inner-headings span {
    animation: animation-medium 15s ease infinite; /* Increased duration to 20s */
  }
  @keyframes animation-medium {
    0%, 9% {
      top: 0;
    }
    18% {
      top: -40px;
    }
    27% {
      top: -80px;
    }
    36% {
      top: -120px;
    }
    45% {
      top: -160px;
    }
    54% {
      top: -200px;
    }
    63% {
      top: -240px;
    }
    72% {
      top: -280px;
    }
    81% {
      top: -320px;
    }
    90% {
      top: -360px;
    }
    100% {
      top: -400px;
    }
  }
}

/* Media query for small screens */
@media (max-width: 768px) {
  .inner-headings {
    font-size: 35px;
    height: 30px;
    line-height: 30px;
  }
  .inner-headings span {
    animation: animation-small 15s ease infinite; /* Increased duration to 20s */
  }
  @keyframes animation-small {
    0%, 9% {
      top: 0;
    }
    18% {
      top: -30px;
    }
    27% {
      top: -60px;
    }
    36% {
      top: -90px;
    }
    45% {
      top: -120px;
    }
    54% {
      top: -150px;
    }
    63% {
      top: -180px;
    }
    72% {
      top: -210px;
    }
    81% {
      top: -240px;
    }
    90% {
      top: -270px;
    }
    100% {
      top: -300px;
    }
  }
}
